.container {
    display: flex;
    justify-content: center;
    margin:auto;
    width: 60%;
    color: white !important;
  
  }
  
  @media only screen and (max-width: 770px) {
    .container {
      width: 100%;
      color: rgb(255, 255, 255) !important;
    }
  }
